.home{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 20px;
    align-items: center;
    margin-top: 20px;
    background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
  padding: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a{
    text-decoration: none;
    color: black;
}
.link{
    display: flex;
    gap: 100px;
    list-style: none;
}